@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --col-max-day: #7fc340;
  --col-min-day: #3a4242;
  --col-button: #3c6c87;
  --col-button-hover: #4d8da1;
  --col-text: #fffce1;
  --col-bg: #070d13;
}

* {
  box-sizing: border-box;
}

body {
  color-scheme: dark;
  background: var(--col-bg);
  color: var(--col-text);
  font-family: "JetBrains Mono", monospace;

  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}