:root {
  --col-max-day: #7fc340;
  --col-min-day: #3a4242;
  --col-button: #3c6c87;
  --col-button-hover: #4d8da1;
}

* {
  box-sizing: border-box;
}

body {
  color-scheme: dark;
  color: #fffce1;
  font-family: "JetBrains Mono", monospace;
  background: #162425;

  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}